<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Load Parameter -->
  
  <param name="use_cpu"           value="true" />

  <!-- Start yolov5 and ros wrapper -->
  <node pkg="yolov8_ros" type="fusion_overlay_deepseek.py" name="yolov8_ros" output="screen" >
    <param name="weight_path"       value="$(find yolov8_ros)/weights/palmtree2.pt"/>
    <param name="image_topic"       value="/zed2i/zed_node/left/image_rect_color" />
    <param name="lidar_topic"       value="/ouster/points" />
    <param name="output_topic"       value="/lidar_overlay/fused_image" />
    <!-- <param name="pub_topic"         value="/yolov8/BoundingBoxes" /> -->
    <!-- <param name="camera_frame"       value="camera_color_frame"/> -->
    <param name="visualize"       value="true"/>
    <param name="conf"              value="0.3" />
  

   <!-- ===== NEW: LiDAR Trunk Detection Parameters ===== -->
    <!-- Set to false to disable YOLO (pure LiDAR mode for robustness testing) -->
    <param name="enable_2d_detection" value="false" />
    
    <!-- DBSCAN clustering parameters -->
    <param name="cluster_eps" value="0.1" />               <!-- #0.3 If a point is within 0.3 meters of another, they belong to the same neighborhood.  -->
    <param name="cluster_min_samples" value="8" />        <!-- Minimum points per cluster -->
    
    <!-- RANSAC cylinder fitting parameters -->
    <param name="ransac_iterations" value="150" />         <!--#150 To find a cylinder. If the value higher more likely to find the perfect cylinder hiding in the noisy points. RANSAC iterations for cylinder fitting -->
    <param name="cylinder_inlier_thresh" value="0.05" />   <!--#0.05 Only points that are within 5 cm of the cylinder's surface are considered "inliers" (part of the trunk). Max distance to cylinder surface (meters) -->
    <param name="min_cluster_height" value="0.5" />        <!-- Minimum trunk height (meters) -->
    
    <!-- ===== NEW: Row Alignment Parameters ===== -->
    <param name="row_spacing" value="8.6" />               <!-- Distance between trees in a row (meters) -->
    <param name="row_orientation_deg" value="0.0" />       <!-- Angle of rows relative to X-axis (degrees) -->
    <param name="fill_gap_threshold" value="1.3" />        <!-- Gap > spacing * this value triggers filling -->
    
    <!-- ===== NEW: Fusion Association Parameters ===== -->
    <param name="iou_threshold" value="0.1" />             <!-- Minimum IoU for LiDAR-YOLO match -->
    <param name="trunk_bbox_width_ratio" value="0.4" />    <!-- Width of projected LiDAR bbox = radius * ratio -->
    <param name="trunk_bbox_height_ratio" value="1.5" />   <!-- Height = trunk_height * ratio -->
    
  </node>

</launch>
